.main-brand {
	font-family: cursive;
	font-size: 60px;
	text-align: center;
	font-weight: normal;
	margin-top: 50px;
	margin-bottom: 50px;
}

.row {
	display: flex;
	align-items: stretch;
}

.story {
	border: 1px solid #333;
	padding: 5px;
}

.story-image {
	width: 100%;
	font-size:18px;
}

.story-text {
	line-height: 1.2;
}

.story-title {
	font-weight: normal;
	font-style: italic;
	font-size: 30px;
	margin: 15px 0;
	text-align: center;
}

.quarter {
	width: 25%;
}

.half {
	width: 50%;
}

.three-quarter {
	width: 75%;
}

.nav-list {
	display: flex;
	flex-direction: column;
	margin: o;
	padding: 0;
	list-style: none;
}

.nav-item {
	width: 100%;
	flex: 1;
	display: flex;
	align-items: center;
	padding-left: 25px;
	font-size: 15px;
	font-color: #555;
	font-weight: bold;
	font-family: Arial;
}

.nav-item a {
	text-direction: none;
}

.nav-item:nth-child(1) {background-color: yellow;}
.nav-item:nth-child(2) {background-color: cyan;}
.nav-item:nth-child(3) {background-color: red;}
.nav-item:nth-child(4) {background-color: violet;}
.nav-item:nth-child(5) {background-color: green;}

.nav-item a {
	text-decoration: none;
	color: #555;
}

.nav-item a:hover {
	text-decoration: underline;
	color: #555;
}
